@media screen and (max-width:960px) {
    .ellipse3{
        
        width: 1528px;
    height: 1529px;
    left: 37px;
    top: -168px;
    }
    .ellipse2{
        width: 1252px;
    height: 1251px;
    left: 314px;
    top: -29px;
    }
    .ellipse1{
        width: 963px;
    height: 963px;
    left: 587px;
    top: 115px;
    }
}

@media screen and (max-width:576px ) {
    .ellipse3{
        width: 939px;
        height: 941px;
        left: -46px;
        top: -44px;
    }
    .ellipse2{
        position: fixed;
        width: 770px;
        height: 769px;
        left: 124px;
        top: 42px;
        
    }
    .ellipse1{
        width: 592px;
        height: 593px;
        left: 292px;
        top: 130px;
        
    }
}

